LINK_FATEC_PUSH_CONSUMER_QUEUE="link-fatec-pushqueue"
LINK_FATEC_PUSH_CONSUMER_URL="amqp://{user}:{pass}@estagio-fatec-rabbitmq:{port}"
LINK_FATEC_PUSH_CREDENTIALS_CLIENT_EMAIL=""
LINK_FATEC_PUSH_CREDENTIALS_PROJECT_ID=""
LINK_FATEC_PUSH_CREDENTIALS_PRIVATE_KEY=""